APP_ENV=development
PORT=8080
CORS_ALLOW_ORIGINS=*

# Database PostgreSQL
DATABASE_URL="postgresql://user:password@host:5432/dbname"

# Supabase Auth Secret
# Gunakan SUPABASE_JWT_SECRET dari dashboard Supabase Anda.
SUPABASE_JWT_SECRET="your_supabase_jwt_secret_base64_string"

# Mailtrap SMTP (Digunakan oleh internal Mailer saat Signup OTP & Recovery OTP)
SMTP_HOST="sandbox.smtp.mailtrap.io"
SMTP_PORT=2525
SMTP_USERNAME="your_username"
SMTP_PASSWORD="your_password"
SMTP_FROM_EMAIL="info@twistgram.local"
